<% if @answer.save %>
  $('#answers').append("<li><%=@answer.answer%> -<%=User.find(@answer.user_id).email%></li>");
  $('#answer_answer').val("");
<% else %>
  alert('You done fucked up.');
<% end %>
